{% extends 'base.html.twig' %}

{% block title %}{{ title == 'Accueil' ? title ~ ' - Roissy Parks' : 'Roissy Parks - ' ~ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<section>
    {% for message in app.flashes('envoyer') %}
    <div class="msg-y">{{ message }}</div>
    {% endfor %}

    {{ form_start(form, { 'attr': {'class': 'form-style'} }) }}
    {{ form_widget(form) }}
    <div class="flex">
        <button class="btn-main">{{ button_label|default('Save') }}</button>
    </div>
    {{ form_end(form) }}
</section>
{% endblock %}