{% extends 'base.html.twig' %}

{% block title %}{{ title == 'Accueil' ? title ~ ' - Roissy Parks' : 'Roissy Parks - ' ~ title }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/main.css') }}">
{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<section>
    {% for message in app.flashes('crud') %}
    <div class="msg-y">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
    <div class="msg-n">{{ message }}</div>
    {% endfor %}

    {{ form_start(form, { 'attr': {'class': 'form-style'} }) }}
    {{ form_widget(form) }}
    <div class="flex">
        <button class="btn-main">{{ button_label|default('Ajouter') }}</button>
    </div>
    {{ form_end(form) }}
</section>

<hr>

<section class="overflowing">
    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Ville</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
            {% for adresse in adresses %}
            <tr id="{{ adresse.id }}">
                <td>{{ adresse.id }}</td>
                <td>{{ adresse.address }}</td>
                <td>{{ adresse.zipCode }}</td>
                <td>{{ adresse.city }}</td>
                <td>
                    <div class="flex center">
                        <a class="btn-bleu" href="{{ path('app_admin_address_edit', {'id': adresse.id}) }}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <form method="POST" action="{{ path('app_admin_address_delete', {'id': adresse.id}) }}"
                            onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet élémént ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adresse.id) }}">
                            <button class="btn-rouge"><i class="bi bi-trash3-fill"></i></button>
                        </form>
                    </div>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}